ul{
	list-style-type: none;	
	margin: 0;
	width: 100%;
	background: rgba(111, 73, 73, 0.5);
}
li{
	display: inline;
	margin: 1px;

}
html{
	text-align: center;
}
a{
	text-decoration: none;
	transition: 1s;
	color: blueviolet;
	background-color: yellowgreen;
	border-radius: 7px;
}
a:hover{
	color: yellow;
	background-color: blueviolet;
	border-radius: 30px;
}